# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\colorful-cattle\frontend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
